<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>About</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
<h1 padding>Matti Isosalo</h1>

<p padding>Lives in Espoo, Finland</p>

<p padding>Information technology student at Laurea University of Applied Sciences</p>

<p padding>Speaks finnish, swedish and english</p>

<p padding>Hobbies include music, running, tennis, fishing and wall climbing</p>

<h1 padding>What other people think:</h1>
<ion-card>
    <ion-card-content>
    <p><i>"Great to work with!"</i></p>
    <p padding>- Sami T.</p>
                                                  <!--IONIC CARDS-->
    </ion-card-content>

  </ion-card>

  <ion-card>
      <ion-card-content>
      <p><i>"That ****!"</i></p>
      <p padding>- Ex-girlfriend</p>
      
      </ion-card-content>
  
    </ion-card>
</ion-content>