<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Contact
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
   <!--LINKS AND ICONS-->
   <a href="https://www.linkedin.com/in/matti-isosalo-4ab97a165/"><h3><ion-icon name="logo-linkedin"></ion-icon>
    LinkedIn</h3></a>
   <a href="https://github.com/isosalo"><h3><ion-icon name="logo-github"></ion-icon>GitHub</h3></a>   
   <h3>E-mail:</h3>
   <p>matti.isosalo@student.laurea.fi</p>
    <button ion-button round><a href="mailto:matti.isosalo@student.laurea.fi">Send me E-mail</a></button>
 </ion-content>