<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
  <h1 padding>Welcome to my CV</h1>
  <p padding>Welcome to my CV application! I hope this app gives you information about my skills and how they meet your requirements. 
    If you have any furthes questions about me or this application please feel free to contact. 
    More information about me and my contact information is found on the tabs at the bottom of this page.</p>

  <p padding><B>Navigate trough my CV by tapping the menu on the top-left.</B></p>
</ion-content>
