<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  CV
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
   <h2>Education</h2>
  <ion-card>
    <ion-card-header>
      <B>Undergraduate</B>
    </ion-card-header>
    <ion-card-content>
      Espoonlahden lukio 1996-2000 
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <B>Drop out</B>
      </ion-card-header>
    <ion-card-content>
        Mechanical engineering
      </ion-card-content>
    <ion-card-content>
        Stadia University of Applied Sciences  2001-2002 
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <B>Bachelor of Business Administration</B>
        </ion-card-header>
        <ion-card-content>
          Information technology
        </ion-card-content>
        <ion-card-content>
          Laurea University of Applied Sciences 2017-2020
        </ion-card-content>
      </ion-card>

      <h2>Carreer</h2>

      <ion-card>
          <ion-card-header>
            <B>Car mechanic</B>
          </ion-card-header>
          <ion-card-content>
            Shell Tullinpuomi, Helsinki 2002-2007
          </ion-card-content>
        </ion-card>
                                                              <!--IONIC CARDS-->
        <ion-card>
            <ion-card-header>
              <B>Car mechanic</B>
            </ion-card-header>
            <ion-card-content>
              Bilverkstad Österback, Stockholm Sweden 2007-2008
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                <B>HVAC maintanence and service</B>
              </ion-card-header>
              <ion-card-content>
                Kiinteistö- ja talonhoito Oy Helsinki 2008-
              </ion-card-content>
            </ion-card>

 </ion-content>