<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Extracurricular Activities
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
    <ion-card>
        <img src="/assets/imgs/Band.jpg"/>            <!--IONIC CARDS WITH IMAGES-->
        <ion-card-content>
          <ion-card-title>Musician</ion-card-title>
        <p>Playing Guitar, bass and drums in various bands</p>
          
        
        </ion-card-content>
      
      </ion-card>

      <ion-card>
          <img src="/assets/imgs/solo.jpg"/> 
          <ion-card-content>
            <ion-card-title>Very handy</ion-card-title>
          <p>Can fix almost anything</p>
            
          
          </ion-card-content>
        
        </ion-card>
 </ion-content>