<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Projects
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
   <H1 padding>Projects</H1>
    <ion-card>
        <ion-card-header>
          <B>HAL - The Workout Diary</B>
        </ion-card-header>                  <!--IONIC CARDS-->
        <ion-card-content>
          Mobile application for keeping track of your workout routine and progress.
        </ion-card-content>
        <ion-card-content>Laurea University of Applied Sciences 2018</ion-card-content>
      </ion-card>
 </ion-content>